# Python stuff
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# Big files
.mp4
.deb

# Folders
00_Video_Tutorial_Installations
09_Web_Scraping_Python_Selenium_Local
10_Kafka_Event_Streaming
10_Kafka_Event_Streaming_Docker_Version

# Flickr credentials
04_Flickr_WebAPI/credentials.json
